<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<%= render 'shared/home_banner_section' %>

<%= render 'shared/earning_rules_section' %>


<!--<div class="container">-->
<!--  <div class="card text-center">-->
<!--    <div class="card-header">-->
<!--      Featured-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Special title treatment</h5>-->
<!--      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--      <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--    </div>-->
<!--    <div class="card-footer text-muted">-->
<!--      2 days ago-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<!--<br>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-6">-->
      <%#= render 'shared/earning_rules_section' %>
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Special title treatment</h5>-->
<!--          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--          <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-6">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Special title treatment</h5>-->
<!--          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--          <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

