<% present(earning_rule) do |earning_rule| %>
  <tr>
    <td><%= link_to earning_rule.name, edit_earning_rule_path(earning_rule) %></td>
    <td><%= earning_rule.point %></td>
    <td><%= earning_rule.status %></td>
    <td>
      <%= link_to t('earning_rule_page.table_heading.button_labels.delete'), earning_rule, method: :delete, class: 'delete btn btn-danger btn-sm' %> <!--, data: { confirm: t('earning_rule_page.table_heading.messages.delete'), remote: true }-->
    </td>
  </tr>
<% end %>