<div class="container mt-5">
  <%= link_to 'Back', earning_rules_path %>

  <div class="row align-items-center">
    <div class="col-6 mt-1">
      <h5 class="active-event-title">
        <%= t('earning_rule_page.form.title') %>
      </h5>
    </div>
  </div>
</div>

<%= render 'form', earning_rule: @earning_rule %>

