<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-6">
      <h5>
        <%= t('earning_rule_page.form.title') %>
      </h5>
    </div>
    <div class="col-6">
      <%= link_to 'Back', earning_rules_path, class: "btn btn-info btn-sm float-right" %>
    </div>
  </div>
</div>

<%= render 'form', earning_rule: @earning_rule %>

