<% present(customer_detail) do |customer_detail| %>
  <tr>
    <td><%= customer_detail.first_name %></td>
    <td><%= customer_detail.last_name %></td>
    <td><%= customer_detail.email %></td>
    <td><%= customer_detail.point_balance %></td>
  </tr>
<% end %>