<% content_for :javascript do %>
  <script type="text/javascript">
      ShopifyApp.ready(function(){
          ShopifyApp.Bar.initialize({ title: "Customer Details" });
      });
  </script>
<% end %>

<div class="container">
  <h1 class="active-event-title">
    <!--Table Title Here-->
    <%#= t('entry_details_page.table_heading.title') %>
  </h1>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Point Balance</th>
      </tr>
    </thead>

    <tbody>
      <%= render @customer_details %>
    </tbody>
  </table>

  <%#== pagy_bootstrap_nav(@pagy).html_safe %>
</div>