<section class="mt-5">
  <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-6 my-auto">
        <h5>The page you’re looking for couldn’t be found</h5>
        <div>Check the web address and try again, or try navigating to the page from Earning Rule</div>
        <div>
          <%= link_to 'Home', root_path, class: "btn btn-outline-primary mt-5" %>
        </div>
      </div>
      <div class="col-6">
        <img alt="Not found" src="https://cdn.shopify.com/shopifycloud/web/assets/ab10d80fe27e351d8ca4d4ec809c729c.svg">
      </div>
    </div>
  </div>
</section>